<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/style')%>
</head>
<body>
<h1>delete?</h1>
<a href="/products/deleteProduct/<%= idDelete%>">ok</a>
<a href="/home">no</a>
</body>

<%- include('../partial/js')%>

</html>